---
layout: base
---
%div.hero-unit
  %h1 RichFaces
  %p The next-generation JSF component framework by JBoss!
:textile
  The *RichFaces* project is an advanced UI component framework for easily integrating Ajax capabilities into business applications using JSF.

  *RichFaces 4* builds upon the pioneering Ajax support that began with RichFaces 3 and is standardized in JSF 2. In addition to extending these ajax capabilities, RichFaces also improves other areas of JSF 2, including usability, performance tuning, dynamic resources, skinning, and component development.  This allows users to take full advantage of all the productivity enhancements of JSF 2.

  * A full set of "AJAX enabled components":http://richfaces-showcase.appspot.com/richfaces/component-sample.jsf?demo=ajax in two libraries
  * a4j: page centric AJAX controls
  * rich: self contained, ready to use components
  * Client-side validation, expanding JSR 303 Bean Validation all the way to the browser.
  * Advanced queueing to match the high performance requirements of real world enterprise applications.
  * Push component upgrades including JavaMessaging Service (JMS) integrations, and various transport mechanisms based on browser support.
  * Our own Component Development Kit (CDK).
  * Comprehensive documentation covering development best practices, and component details.
  * Detailed and automated testing facilities for	components, actions, listeners, and pages.
  * Broad cross-browser support
  * Large and active community at its foundation!!