!!!
%html
  %head
    %title
      An awesome site
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"http://static.jboss.org/theme/css/awestruct/jbossdefault_wrapper.css", :media=>"screen, projection" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/resources/stylesheets/styles.css' }
  %body
    .visible-desktop
      = remotePartial('http://static.jboss.org/theme/includes/org_header_topNav.html')
    .container
      %div.full
        %img{:src => "resources/images/richfaces-banner-1180px.png"}
      .navbar.navbar-static-top.navbar-inverse.full
        .navbar-inner
          %ul.nav
            %li.active
              %a{:href => "#"} Overview
            %li.active
              %a{:href => "#"} Downloads
            %li.active
              %a{:href => "#"} Documentation
            %li.active
              %a{:href => "#"} Community
            %li.active
              %a{:href => "#"} Issue Tracker
            %li.active
              %a{:href => "#"} Source Code
            %li.active
              %a{:href => "#"} Build
      .row
        .span12
          ~ content
